@import "../node_modules/modern-normalize/modern-normalize.css";

:root {
  line-height: 1.5;
}

h1,
h2,
h3,
h4,
h5,
figure,
p,
ol,
ul {
  margin: 0;
}

ol[role="list"],
ul[role="list"] {
  list-style: none;
  padding-inline: 0;
}

h1,
h2,
h3,
h4,
h5 {
  font-size: inherit;
  font-weight: inherit;
}

img {
  display: block;
  max-inline-size: 100%;
}

/* Normalize end */
body {
  padding: 50px;
  display: flex;
  justify-content: center;
}

.yo-carousel {
  height: 800px;
  width: 500px;
  overflow: hidden;
}

.yo-carousel .carousel-strip {
  display: grid;
  grid-auto-flow: column;
  align-items: center;
  height: 100%;
}

.yo-carousel .carousel-cell {
  width: 100%;
  height: 100%;
}

.yo-carousel .carousel-cell img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
