@import "../node_modules/modern-normalize/modern-normalize.css";

:root {
  line-height: 1.5;
}

h1,
h2,
h3,
h4,
h5,
figure,
p,
ol,
ul {
  margin: 0;
}

ol[role="list"],
ul[role="list"] {
  list-style: none;
  padding-inline: 0;
}

h1,
h2,
h3,
h4,
h5 {
  font-size: inherit;
  font-weight: inherit;
}

img {
  display: block;
  max-inline-size: 100%;
}

/* Normalize end */
body {
  padding: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.yo-carousel {
  height: 800px;
  width: 1000px;
  position: relative;
}

.yo-carousel .cycle-buttons {
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  justify-content: space-between;
}

.yo-carousel .cycle-buttons button {
  height: 100%;
  background-color: rgb(158 158 158 / 40%);
  border: none;
  width: 10%;
}

.yo-carousel .page-buttons {
  width: 100%;
  position: absolute;
  bottom: 20px;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.yo-carousel .page-buttons button {
  border-radius: 50%;
  border: 1px solid gray;
  background-color: rgba(211, 211, 211, 0.595);
  height: 2ch;
  width: 2ch;
}

.yo-carousel .page-buttons button.selected {
  background-color: white;
}

.yo-carousel .carousel-frame {
  height: 100%;
  width: 100%;
  overflow: hidden;
}

.yo-carousel .carousel-strip {
  position: relative;
  display: grid;
  grid-auto-flow: column;
  grid-auto-columns: 100%;
  grid-template-rows: 100%;
  height: 100%;
}

.yo-carousel .carousel-cell img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
